@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
    max-width: none;
}

.custom-select {
    text-align: center;
    padding: 3px 10px 3px 3px!important;
    font-size: 14px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 0.25rem;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="10" height="10" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 298.04" opacity="0.5"><path fill-rule="nonzero" d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg>') no-repeat right 0.6rem center;
    background-color: white;
    position: relative;
}

.ant-card {
    position: relative;
}

.ant-card-body {
    margin-bottom: 44px;
    padding: 10px!important;
}

.ant-card-meta-avatar {
    padding: 0!important;
}

ul.ant-card-actions {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.custom-input:focus {
  outline: none;
  box-shadow: none;
  border-bottom-color: #3559E0;
}
